* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #383838;
  background: url(../img/body-bg.png) no-repeat center;
}
.navbar {
  background: #ffffff;
  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar a {
  text-decoration: none;
  color: #000000;
}
.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
.navbar ul li a:hover {
  background: rgba(160, 160, 160, 0.3);
}
.navbar .navbar-toggler {
  display: none;
}
/* Buttons */
.banner-btn {
  inline-size: max-content;
}
.btn_primary {
  margin: 0 10px;
  display: inline-block;
  color: #fff;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #1d8348 0%, #2ecc71 100%),
    radial-gradient(circle at top left, #1d8348, #2ecc71);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(40, 180, 99, 0.3);
}
.btn_primary span {
  padding: 0 42px;
}
.btn_primary.tr-bg {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #1d8348, #2ecc71);
  border: 2px solid transparent;
  color: #222222;
  box-shadow: none;
}
.btn_primary.tr-bg:hover {
  background-image: linear-gradient(to right, #1d8348 0%, #2ecc71 100%),
    radial-gradient(circle at top left, #1d8348, #2ecc71);
  border: double 2px transparent;
  color: #ffffff;
  box-shadow: 0px 10px 30px rgba(40, 180, 99, 0.3);
}
.btn_primary:hover {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #1d8348, #2ecc71);
  border: 2px solid #2ecc71;
  color: #222222;
  box-shadow: none;
  background-clip: border-box;
}
.content {
  padding: 80px 55px 40px 55px;
}
.title {
  color: #000000;
  font-size: 50px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 10px;
}
.title-center {
  text-align: center;
}
#main {
  background-image: url(../img/banner/home-banner.png);
  background-repeat: repeat-y;
  height: 100vh;
}
#projects {
  background: url(../img/banner_02.png);
}
#skills {
  /* background: #a9ddffad; */
}
#about {
  /* background: #000000; */
}
#footer {
  background: url(../img/footer-bg.png) no-repeat top center;
  text-align: center;
  padding: 70px 0;
}
#footer .content a {
  text-decoration: none;
  color: #000000;
}
#footer .content a.navbar-brand {
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
#footer .content a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
#footer .content p {
  padding: 30px 0;
}
#footer .content p i {
  color: #63c06b;
}
/* Banner */
.banner-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 80px 0;
  color: #000000;
}
.banner-content h3 {
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
.banner-content h1 {
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 90px;
}
.banner-content h5 {
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 35px;
}
.banner-image img {
  width: 400px;
}
/* Projects */
.projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-flex .project-card {
  margin: 10px 30px;
  width: 304px;
  height: 250px;
  border: 2px solid #999999;
  border-style: dotted;
  transition: 0.5s;
  background: #ffffff;
}
.projects-flex .project-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.36);
}
.projects-flex .project-image {
  width: 300px;
  height: 200px;
}
.projects-flex .project-title {
  width: 300px;
  height: 50px;
  padding: 15px;
  /* text-align: left;
  font-weight: bold; */
}
.projects-flex .project-title p {
  /* text-align: left; */
  float: left;
  font-weight: bold;
}
.projects-flex .project-title span {
  /* text-align: right; */
  float: right;
  padding: 0 5px;
}
/* Skill */
.skill-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-flex .skill {
  border: 2px solid #63c06b;
  border-style: dotted;
  width: 110px;
  height: 95px;
  margin: 10px;
}
.skill-flex .skill:hover {
  box-shadow: 0px 0px 4px 2px rgba(114, 227, 167, 0.36);
  background: #63c06b;
}
.skill-flex .skill .skill-item {
  text-align: center;
  font-size: 50px;
  padding: 5px;
  color: #63c06b;
}
.skill-flex .skill .skill-item:hover {
  color: #ffffff;
}
.skill-flex .skill p {
  padding: 0;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: inherit;
}
/* About */
.about-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}
.about-image img {
  width: 400px;
}
.about-content p {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-align: justify;
  padding: 0 50px 10px 0;
}

/* Media query */
@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
  /* Banner */
  .banner-grid {
    grid-template-columns: 80% 20%;
  }
  .banner-content h1 {
    line-height: 80px;
  }
  .banner-image img {
    display: none !important;
  }
  .banner-content h3 {
    font-size: 35px;
  }
  .banner-content h1 {
    font-size: 90px;
  }
  .banner-content h5 {
    font-size: 22px;
  }
  /* Projects */
  #projects .content {
    padding: 80px 30px 40px 30px;
    /* background: aquamarine; */
  }
  /* Skills */
  #skills .content {
    padding: 80px 30px 40px 30px;
    /* background: aquamarine; */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
    color: #fff;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 10px;
    right: 20px;
    background: transparent;
    color: #fff;
    /* border: 3px solid #000; */
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background: #000;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
  .content {
    padding: 80px 30px 40px 30px;
  }
  /* Banner */
  /* .banner-image img {
    display: none !important;
  } */
}

@media (max-width: 640px) {
  /* Banner */
  .banner-content h1 {
    line-height: 70px;
    font-size: 80px;
  }
  /* .banner-content h5 {
    font-size: 25px;
  } */
}

@media (max-width: 485px) {
  .banner-grid {
    grid-template-columns: 100%;
  }
  /* Banner */
  .banner-content h1 {
    line-height: 60px;
    font-size: 70px;
  }
  .banner-btn {
    inline-size: auto;
  }
  .btn_primary {
    width: 100%;
    margin: 5px;
  }
  /* Skills */
  .skill-flex .skill {
    margin: 10px 5px;
  }
}
